input[type=number] {
  margin-top: 0.5rem;
  width: 100%;
  padding: 0.4rem 1rem;
  text-align: right;
  font-size: 1.4rem;
  color: hsl(183, 100%, 15%);
  font-weight: 700;
  border: none;
  background-color: hsl(189, 41%, 97%);
  border-radius: 5px;
}

input[type=number]:focus,
input[type=number]:active {
  outline: none;
  border: none;
}

input[type=number]::placeholder {
  color: hsl(186, 14%, 43%);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

label {
  color: hsl(186, 14%, 43%);
}

.logo {
  position: absolute;
  left: 15px;
  top: 2.8rem;
}

.tip-button {
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s;
}

.tip-button:hover,
.tip-button:hover:active {
  background-color: hsl(172, 67%, 45%);
  opacity: 0.7;
}

.tip-bottons input[type=number]:focus {
  outline: 1px solid hsl(172, 67%, 45%);
  /* Add a border when the button is clicked */
}

.tip-bottons input[type=number]::placeholder {
  color: hsl(183, 100%, 15%);
  opacity: 0.7;
}

.right-card h4 {
  color: hsl(189, 41%, 97%);
  font-size: 0.9rem;
}
.right-card p {
  color: hsl(184, 14%, 56%);
  font-size: 0.8rem;
  word-spacing: -0.1rem;
}

.reset-button:hover {
  background-color: hsl(172, 72%, 65%);
}

body {
  background-color: hsl(185, 41%, 84%);
  padding-top: 5%;
  height: 100vh;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

.title {
  width: 10%;
  margin: 0 auto;
  /* margin-top: 8rem; */
}

.card {
  max-width: 55rem;
  height: 29rem;
  margin: 0 auto;
  margin-top: 4rem;
  padding: 1.8rem;
  border-radius: 1.2rem;
  background-color: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
  display: flex;
}
.card .left-card {
  display: flex;
  flex-direction: column;
  gap: 2.2rem;
  flex-basis: 50%;
  border-radius: 1rem;
  padding: 0.7rem 0;
}
.card .left-card .bill-container {
  width: 90%;
  position: relative;
}
.card .left-card .tip-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.card .left-card .tip-container .tip-buttons {
  display: flex;
  width: 90%;
  row-gap: 15px;
  column-gap: 12px;
  flex-direction: row;
  flex-wrap: wrap;
}
.card .left-card .tip-container .tip-buttons .tip-button {
  flex-basis: 31%;
  padding: 0.5rem;
  font-size: 1.3rem;
}
.card .left-card .tip-container .tip-buttons input[type=number] {
  flex-basis: 31%;
  margin: 0;
  padding: 0.5rem;
  border-radius: 5px;
  font-size: 1.3rem;
  caret-color: hsl(172, 67%, 45%);
  background-color: hsl(189, 41%, 97%);
  color: hsl(183, 100%, 15%);
  text-align: center;
  border: none;
}
.card .left-card .number-of-people-container {
  width: 90%;
  position: relative;
}
.card .right-card {
  background-color: hsl(183, 100%, 15%);
  border-radius: 1rem;
  padding: 2rem 2.3rem;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.card .right-card .tip-amount-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card .right-card .tip-amount-container .tip-amount-person {
  display: flex;
  flex-direction: column;
  padding-top: 1.6rem;
}
.card .right-card .tip-amount-container .tip-output-container {
  display: flex;
  flex-direction: row;
  gap: 3px;
  padding-top: 1.3rem;
}
.card .right-card .tip-amount-container .tip-output-container .dollar-logo img {
  width: 1.2rem;
  margin-top: 1rem;
  filter: brightness(0) saturate(100%) invert(51%) sepia(100%) saturate(330%) hue-rotate(122deg) brightness(102%) contrast(89%);
}
.card .right-card .tip-amount-container .tip-output-container .tip-output {
  color: hsl(172, 67%, 45%);
  font-size: 2.5rem;
}
.card .right-card .tip-total-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.card .right-card .tip-total-container .tip-total-person {
  display: flex;
  flex-direction: column;
  padding-top: 1.6rem;
}
.card .right-card .tip-total-container .total-output-container {
  display: flex;
  flex-direction: row;
  gap: 3px;
  padding-top: 1.3rem;
}
.card .right-card .tip-total-container .total-output-container .dollar-logo img {
  width: 1.2rem;
  margin-top: 1rem;
  filter: brightness(0) saturate(100%) invert(51%) sepia(100%) saturate(330%) hue-rotate(122deg) brightness(102%) contrast(89%);
}
.card .right-card .tip-total-container .total-output-container .total-output {
  color: hsl(172, 67%, 45%);
  font-size: 2.5rem;
}
.card .right-card .reset-button {
  margin-top: 6.5rem;
  text-align: center;
  padding: 0.6rem;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  opacity: 0.3;
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  transition: all 0.3s;
}
.card .right-card .reset-button:hover {
  opacity: 1;
  background-color: hsl(172, 72%, 65%);
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} *//*# sourceMappingURL=style.css.map */