@import "general";
@import "media";
body {
  background-color: $lightGrayishCyan;
  padding-top: 5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

header {
  max-width: 55rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  /* margin-top: 8rem; */
}

.card {
  max-width: 55rem;
  height: 29rem;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 3rem;
  padding: 1.8rem;
  border-radius: 1.2rem;
  background-color: $White;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
  display: flex;

  .left-card {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
    flex-basis: 50%;
    border-radius: 1rem;
    padding: 0.7rem 0;
    .bill-container {
      width: 90%;
      position: relative;
    }
    .tip-container {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .tip-buttons {
        display: flex;
        width: 90%;
        row-gap: 15px;
        column-gap: 12px;
        flex-direction: row;
        flex-wrap: wrap;

        .tip-button {
          flex-basis: 31%;
          padding: 0.5rem;
          font-size: 1.3rem;
        }

        input[type="number"] {
          flex-basis: 31%;
          margin: 0;
          padding: 0.5rem;
          border-radius: 5px;
          font-size: 1.3rem;
          caret-color: $primary;
          background-color: $veryLightGrayishCyan;
          color: $VeryDarkCyan;
          text-align: center;
          border: none;
        }
      }
    }
    .number-of-people-container {
      width: 90%;
      position: relative;
      .labels {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .people-input-check {
          color: rgb(218, 62, 62);
        }
      }
    }
  }

  .right-card {
    background-color: $VeryDarkCyan;
    border-radius: 1rem;
    padding: 2rem 2.3rem;
    flex-basis: 50%;
    display: flex;

    flex-direction: column;
    gap: 0.8rem;
    .tip-amount-container {
      @include right-card-containers;
      .tip-amount-person {
        @include right-card-left-containers;
      }
      .tip-output-container {
        @include right-card-right-containers;

        .tip-output {
          color: $primary;
          font-size: 2.5rem;
        }
      }
    }
    .tip-total-container {
      @include right-card-containers;
      .tip-total-person {
        @include right-card-left-containers;
      }
      .total-output-container {
        @include right-card-right-containers;

        .total-output {
          color: $primary;
          font-size: 2.5rem;
        }
      }
    }
    .reset-button {
      margin-top: 6.5rem;
      text-align: center;
      padding: 0.6rem;
      font-size: 1.1rem;
      border-radius: 5px;
      border: none;
      cursor: pointer;
      opacity: 0.3;
      background-color: $primary;
      color: $VeryDarkCyan;
      transition: all 0.3s;
    }
    .reset-button:hover {
      opacity: 1;
      background-color: hsl(172, 72%, 65%);
    }
  }
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
